.black{
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0px 0px;
}

.space{
    padding-top: 7px;
    padding-left: 390px;
}

.control{
    padding-top: 9px;
    

}

.adjust{
    padding-left: 40px;
}

.fix{
   padding-top: 5px; 
}